.icon_container {
  width: 2rem;
  display: flex;
  justify-content: center;
  height: 2rem;

  color: #10162f;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  border-radius: 50%;
}
.icon_container img {
  width: 100%;
  padding: 4px;
}
