.login {
  text-align: center;
}

.login p {
  color: #aaa;
}

.logo {
  background-color: white;
  position: absolute;
  width: 250px;
  height: 210px;
  top: 100px;
  left: 25%;
}

.logo svg {
  width: 100%;
  position: relative;
  top: -75px;
  height: 355px;
  /* background-color: white; */
  display: block;
}
