.donateBox {
  background: #ffffff
    url(https://firebasestorage.googleapis.com/v0/b/coding-for-ukraine.appspot.com/o/ukrania-flag.png?alt=media&token=0a0640a0-399d-48fe-a70e-984a94adbd2a)
    no-repeat right top;

  height: 100%;
}

.bgYellowDonate {
  background-color: #ffd726;
  border-radius: 20px;
}

.DarkBlue {
  color: #0e4bd6;
  font-size: 50px;
}
